
.skins-page {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 25px;
}

.skins-toolbar {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.skin-search {
    background: var(--background-3);
    border: none;
    border-radius: 8px;
    padding: 10px 12px;
    color: var(--white);
    width: 16vw;
    outline: none;
}

.skins-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21.5vw, 1fr));
    gap: 1.2vw;
}

.skin-card {
    background: var(--background-3);
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition: 0.25s;
}

.skin-card:hover {
    transform: translateY(-5px);
    background: var(--background-4);
}

.skin-card h3 {
    margin: 0 0 5px;
    font-size: 18px;
}

.skin-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 8px;
}

.download-btn {
    background: var(--primary-1);
    border-radius: 6px;
    padding: 6px 12px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.2s;
    outline: none;
    border: none;
}

.download-btn:hover {
    background: var(--primary-2);
}